*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    font-family: 微软雅黑;
}
a{
    text-decoration: none;
}
body{
    background: #e4e3e3;
    line-height: 1.5;
}
.headerBox1, .headerBox2 a:hover {
    color: #00c1de;
    text-decoration: none;
}
.header {
    width: 100%;
    height: 60px;
    background: black;
    margin-top: 0;
}

.headerBox {
    margin: 0 auto;
    width: 1200px;
    height: 60px;
    line-height: 60px;
}

.headerBox1 {
    /*width: 155px;*/
    height: 100%;
    line-height: 60px;
    float: left;
    margin-right: 80px;
    line-height: 60px;
}
.headerBox1  > h2 >a{
    line-height: 60px;
    color: #e4e3e3;
}

.headerBox2 {
    /*width: 155px;*/
    height: 100%;
    float: left;
    line-height: 60px;
}

.headerBox2 a {
    margin-right: 40px;
    float: left;
    font-size: 16px;
    line-height: 60px;
    color: #e4e3e3;
}

.headerBox3 {
    width: 60px;
    height: 100%;
    text-align: center;
    float: right;
    line-height: 60px;
    color: white;
}

.mainLiuyan{
    width: 1160px;
    height: 100%;
    background: #ffffff;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px;
}
.gbox form{
    margin-top: 10px;
}
.gbox form >p{
    margin-bottom: 10px;
    font-size: 15px;
}
.gbox >form >p >input[type="text"]{
    width: 160px;
    height: 16px;
    line-height: 20px;
}
.gbox form >p >img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
.gbox form >p >textarea{
    width: 99%;
    display: inline-block;
    border: 1px solid #666666;
}
.gbox form >p >input[type="submit"]{
    background: #040404;
    display: block;
    float: right;
    border-radius: 5px;
    padding: 0 20px;
    border: none;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
}
.gbox form .button{
    height: 24px;
}
.fb ul{
    margin: 10px 0;
    padding: 20px 10px;
}
.fb p{
    font-size: 15px;
}
.fb .tximg {
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    font-size: 12px;
    margin-right: 10px;
}
.fb p span{
    float: right;
    font-size: 12px;
}
.fb fbinfo {
    margin: 10px 0;
}
/*.gbox form >p >input[type="hidden"]{*/
/*    display: none;*/
/*}*/


.footer{
    margin-top: 20px;
    width: 100%;
    background: #333333;
    padding: 30px 0;
    border-top: 10px solid #00C1DE;
}
.footer .footermain{
    width: 1200px;
    margin: 0 auto;
}
.footermain ul{
    margin-right: 20px;
}
.footermain li{
    width: 100px;
    height: 100px;
    float: left;
    margin: 0 10px;
}
.footermain .footerLeft li img{
    width: 100px;
    height: 100px;
}
.footerRight span{
    font-size: 16px;
    color: #00c1de;
}
.footerRight p{
    font-size: 14px;
    color: #73777a;
}